# Rust build artifacts
target/
Cargo.lock

# wasm-pack build artifacts (keep only pkg/)
#uesave-wasm/target/

# Test/data files (adjust as needed)
*.sav
*.zip
out.json

# OS files
._*
.DS_Store

# Keep the pkg directory
#!uesave-wasm/pkg/

# Node.js
node_modules/
dist/
.vite/
